body {
    margin: 0px;
    overflow-x: hidden;
}

/* #pigeons-bento {
    width: 100vw;
} */

::-webkit-scrollbar {
  display: none;
}

.pigeon-container {
    width: 100%;
    height: 100%;
    aspect-ratio: 1;
    /* border: 2px solid #77777740;
    border-radius: 10px;
    box-shadow: 0px 2px 6px #00000030; */
    transition-duration: 300ms;
}

.pigeon-container:hover {
    rotate: 5deg;
    z-index: 1;
    transition-duration: 300ms;
    background-color: #00000010;
}

.pigeon-container::after{
    content: " ";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    user-select: none;
    pointer-events: none;
    opacity: 0;
    background: rgb(0,0,0);
    transition: all .3s;
}
.pigeon-container:hover::after{
    opacity: .1;
    /* pointer-event allows you to click it */
    pointer-events: normal;
}